.*
!.gitignore
!.travis.yml
!.flake8
!.flake8_nb
*.out
__pycache__
*.pyc
*.fai
_*
sinfo-requirements.txt

results/*
!results/viral_fastq10x
results/viral_fastq10x/*
!results/viral_fastq10x/scProgenyProduction_trial3_integrate_data.csv

